_        _            _ .1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>8e8c211c-0176-1000-ffff-fffff4dc713d</groupId>
    <name>ГисТек загрузка справочников ч.1</name>
    <snippet>
        <controllerServices>
            <id>a06530e9-c59c-3bff-0000-000000000000</id>
            <parentGroupId>cfa88987-c3af-3d86-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool_GP_edw_prerpod</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://spb99akl-adbm01:5432/edw</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/drivers/postgresql-42.2.8.jar</value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>SPB-KLAD-A-klad-M</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>100</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>select 1 from klad_conf.process_log</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>6902197f-39af-3b93-0000-000000000000</id>
            <parentGroupId>cfa88987-c3af-3d86-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/jira/cacerts.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <processGroups>
            <id>77560629-ab41-313f-0000-000000000000</id>
            <parentGroupId>cfa88987-c3af-3d86-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>a4b41d91-77fb-381a-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>4facbe0f-dcb8-35d0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>fbdcf78c-1d36-3704-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a5b23634-9040-3964-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>5c2d7d67-b177-3744-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a647b5e6-9e10-3fe4-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3248.084228515625</x>
                        <y>-315.3112487792969</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>dfaaf686-804c-3746-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>1bcdc8af-0bdc-3daf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a88f2d15-a129-3fb3-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3248.259033203125</x>
                        <y>-449.5974426269531</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>1bcdc8af-0bdc-3daf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>67f802fd-00bb-342c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e8e147ff-573e-3ca0-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3246.386962890625</x>
                        <y>-576.4560852050781</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>67f802fd-00bb-342c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0c289255-ee83-3128-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3247.2138671875</x>
                        <y>-190.86931800842285</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>fbdcf78c-1d36-3704-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>dfaaf686-804c-3746-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>14a1749d-b914-3916-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>ea518e73-2613-3925-0000-000000000000</groupId>
                        <id>bdd6f22f-dd9d-3e9f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1acdf9b8-9a7e-37c9-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>8aa9b747-f9bb-32f9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>dfaaf686-804c-3746-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>305b174a-2638-3ef6-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3813.956787109375</x>
                        <y>-52.105560302734375</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>cb290a23-1984-3de4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>fbdcf78c-1d36-3704-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>33526319-412a-3577-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-3249.0352679913613</x>
                        <y>-673.6694621596403</y>
                    </bends>
                    <bends>
                        <x>-3253.6299945538613</x>
                        <y>-632.8590373549528</y>
                    </bends>
                    <destination>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>77560629-ab41-313f-0000-000000000000</groupId>
                        <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>c2dc3be7-f09c-318f-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool_GP_prj_gistek_preprod</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:postgresql://spb99akl-adbm01:5432/prj_gistek</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.postgresql.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/drivers/postgresql-42.2.8.jar</value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>SPB-KLAD-A-klad-M</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>select 1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <labels>
                    <id>94a86f46-eefb-3572-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3249.1637228331783</x>
                        <y>-767.9256206225988</y>
                    </position>
                    <height>51.036895751953125</height>
                    <label>1 этот результат нужно записать в таблицу classifier_list в бд prj_gistek в схему паблик
2 этот флоу будет запускаться 1 раз в сутки и перезаписывать таблицу целиком</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>12px</value>
                        </entry>
                    </style>
                    <width>511.545166015625</width>
                </labels>
                <processGroups>
                    <id>ea518e73-2613-3925-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3726.267459837709</x>
                        <y>-970.7893260446705</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>cc141f4e-99cd-33db-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-710.7435302734375</x>
<y>-302.05206298828125</y>
                            </bends>
                            <destination>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>129c6bda-e2d8-379d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>133e9fd5-d3ad-3ee2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e4a7c7a3-42dc-31a8-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>bdd6f22f-dd9d-3e9f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>7dfec50c-96f7-35e2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0bfeca6e-27c0-3f2c-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-63.7435302734375</x>
<y>-238.92730712890625</y>
                            </bends>
                            <destination>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>879fac06-957d-361a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>129c6bda-e2d8-379d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2c1de6de-054c-382a-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>2.2564697265625</x>
<y>-297.05206298828125</y>
                            </bends>
                            <destination>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>129c6bda-e2d8-379d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>a5e5b5d5-1945-3e4e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>554c6a2b-bccf-3e72-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-62.7435302734375</x>
<y>-103.92730712890625</y>
                            </bends>
                            <destination>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>7dfec50c-96f7-35e2-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ea518e73-2613-3925-0000-000000000000</groupId>
<id>879fac06-957d-361a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>bdd6f22f-dd9d-3e9f-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-478.332571617703</x>
<y>74.87024733414307</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>879fac06-957d-361a-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-525.4427126775483</x>
<y>-235.03900976360313</y>
                            </position>
                            <bundle>
<artifact>nifi-avro-nar</artifact>
<group>org.apache.nifi</group>
<version>1.6.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JSON container options</key>
        <value>
            <name>JSON container options</name>
        </value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>
            <name>Wrap Single Record</name>
        </value>
    </entry>
    <entry>
        <key>Avro schema</key>
        <value>
            <name>Avro schema</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JSON container options</key>
        <value>array</value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Avro schema</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>ConvertAvroToJSON</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                        </processors>
                        <processors>
                            <id>a5e5b5d5-1945-3e4e-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-172.74359069419552</x>
<y>-584.0520573758602</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.6.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 0 20 * * ?</schedulingPeriod>
<schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>GenerateFlowFile(CRON)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>129c6bda-e2d8-379d-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-526.5970015109324</x>
<y>-367.16944216780473</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.6.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>a06530e9-c59c-3bff-0000-000000000000</value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT substring (t_in_notice from position ('PID' in t_in_notice) + 3 for length(t_in_notice))::int as process_id
from 
(
SELECT (klad_conf.f_process_start ('GisTech Load Nsi', 'NiFi APP', 'Y', 'GisTech',  'Started')) as t_in_notice
) a1;</value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>Start (getting PID)</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>133e9fd5-d3ad-3ee2-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-885.7435906941955</x>
<y>-576.0520573758602</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.6.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>10000000 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>GenerateFlowFile(MANUAL)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>7dfec50c-96f7-35e2-0000-000000000000</id>
                            <parentGroupId>ea518e73-2613-3925-0000-000000000000</parentGroupId>
                            <position>
<x>-525.7435030583601</x>
<y>-104.27316366015441</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.6.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>pid</key>
        <value>
            <name>pid</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>pid</key>
        <value>$.process_id</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Getting PID for logging </name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>8aa9b747-f9bb-32f9-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-4271.083848710256</x>
                        <y>-322.0977305289464</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>a06530e9-c59c-3bff-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT klad_conf.f_process_notify('Database record failure'::text, NULL::text, NULL::text, 'E'::text,'Y', NULL::int , ${pid});
SELECT klad_conf.f_process_error('GisTech Load Nsi'::text, 'NiFi APP'::text, 'Y', 'GisTech', NULL, NULL, ${pid});
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Notify | Error</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>949a1ee8-6e64-38eb-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3704.0352679913613</x>
                        <y>-713.6694621596403</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://nsi.gis-tek.ru/?action=classifier_list</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>6902197f-39af-3b93-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>SPB99-PRX-SA</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>8090</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>cb290a23-1984-3de4-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3703.9828284933137</x>
                        <y>-57.025606047745214</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>a06530e9-c59c-3bff-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT klad_conf.f_process_notify(' Successfully written in database'::text, NULL::text, NULL::text, 'I'::text,'Y', NULL::int , ${pid});
SELECT klad_conf.f_process_end('GisTech Load Nsi'::text,'NiFi APP'::text, 'Y', 'GisTech', NULL, NULL, ${pid})

</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>END</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>dfaaf686-804c-3746-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3704.1524055462337</x>
                        <y>-319.3080080312956</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>c2dc3be7-f09c-318f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>select f_load_nsi()</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>fbdcf78c-1d36-3704-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3702.5427864056087</x>
                        <y>-188.42785818998703</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>c2dc3be7-f09c-318f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select klad_conf.f_load_history(1100,'run_1', 'dim_classifier_list');</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>select klad_conf.f_load_history()</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>1bcdc8af-0bdc-3daf-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3704.8047882429773</x>
                        <y>-450.8550649512262</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>');</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Append</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>');</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>4facbe0f-dcb8-35d0-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3114.8035752727556</x>
                        <y>-189.58471478187607</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>a06530e9-c59c-3bff-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT klad_conf.f_process_notify('Failed to write into history table'::text, NULL::text, NULL::text, 'E'::text,'Y', NULL::int , ${pid});
SELECT klad_conf.f_process_error('GisTech Load Nsi'::text, 'NiFi APP'::text, 'Y', 'GisTech', NULL, NULL, ${pid});
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Notify | Error</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>5c2d7d67-b177-3744-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-4273.475206132131</x>
                        <y>-715.1488779898839</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>a06530e9-c59c-3bff-0000-000000000000</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT klad_conf.f_process_notify('Connection failure'::text, NULL::text, NULL::text, 'E'::text,'Y', NULL::int , ${pid});
SELECT klad_conf.f_process_error('GisTech Load Nsi'::text, 'NiFi APP'::text, 'Y', 'GisTech', NULL, NULL, ${pid});
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Notify | Error</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>67f802fd-00bb-342c-0000-000000000000</id>
                    <parentGroupId>77560629-ab41-313f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3704.6614424458517</x>
                        <y>-582.850633304606</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>select public.f_load_nsi('</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Prepend</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>select f_load_nsi('</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <name>load_nsi</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/26/2023 14:46:07 MSK</timestamp>
</template>
